*.o
*.log
*.obj
*.idb
*.pdb
*.tlog
*.exe
*.ilk
*.lib
*.suo
*.os
*.pyc
*.db
*.user
*.opendb
.DS_Store
.svn
.sconsign.dblite
Neptune.xccheckout
Neptune.xcscmblueprint
Build/Targets/universal-apple-macosx/build
Build/Targets/universal-apple-macosx/Neptune.xcodeproj/project.xcworkspace/xcuserdata/gilles.xcuserdatad
Build/Targets/universal-apple-macosx/Neptune.xcodeproj/xcuserdata
Build/Targets/universal-apple-macosx/cov-int
Build/Targets/x86-microsoft-win32-vs20*/*/Debug
Build/Targets/x86-microsoft-win32-vs20*/*/Release
