.DS_Store
.svn
.sconsign.dblite
Neptune.xccheckout
Build/Targets/universal-apple-macosx/build
Build/Targets/universal-apple-macosx/Neptune.xcodeproj/project.xcworkspace/xcuserdata/gilles.xcuserdatad
Build/Targets/universal-apple-macosx/Neptune.xcodeproj/xcuserdata
Build/Targets/universal-apple-macosx/cov-int
